$primary-color: #ffffff; 
$font-stack: "Roboto", sans-serif;
$width: 400px;
$backgroundcolor1:  #686de0;
$backgroundcolor2: #00aced;
$backgroundcolor3:#007bb6;
$backgroundcolor4:#e17b77;
$backgroundcolor5: #3b5998;
$backgroundcolor:#333;